<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Video Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="errorMsg"></div>

  <video id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline
    [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
  </video>
  <video id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline
    [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" >
  </video>


  <ion-row nowrap>
    <ion-button (click)="login()">Hacer login con: </ion-button>
    <ion-item>
      <ion-input type="text" [(ngModel)]="userId" placeholder="Ingresa cualcuier nombre de usuario o nick"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row nowrap>
    <ion-button (click)="call()">Llamar a: </ion-button>
    <ion-item>
      <ion-input type="text" [(ngModel)]="partnerId" placeholder="El apodo de tu compañero"></ion-input>
    </ion-item>
  </ion-row>  
</ion-content>
